# Deployment Configuration

# Project Configuration
PROJECT_NAME=surepay
ENVIRONMENT=prod
AWS_REGION=eu-central-1

# Container Configuration
CPU=512
MEMORY=2048
CONTAINER_PORT=3000
TAG=v1.1
IMAGE=745039059228.dkr.ecr.eu-central-1.amazonaws.com/surepay-app
DEPLOYMENT_CONFIG=CodeDeployDefault.ECSLinear10PercentEvery1Minutes
